@import "tailwindcss";

@theme {
  --font-bricolage: var(--font-bricolage);
  --font-dm-sans: var(--font-dm-sans);
}

@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }

    .preserve-3d {
        transform-style: preserve-3d;
    }

    .backface-hidden {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}